
.design{
        color: blue;
        background-color: white;
        height: fit-content;
        width: 80%;
        position: relative;
        top: 30px;
        left: 2%;
        padding: 0 30px 10px 30px;
        border-radius: 10px;

}

body{
    background-image: url("images/notebook-1280538.jpg");
    background-size: 100%;
   

}


#title{
    color: white;
    font-family: 'Syne Mono', monospace;
    margin: 0;
    
}
#check{
    color:red;
}
a{
    color: red;
}
.design1{
    color: White;
    background-color:#e6739f;
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0;
    text-align: center;
}
i{
    float: right;
    position: relative;
    bottom: 43px;
    right: 10px;
    cursor: pointer;
}

body{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
}

button{
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family:'Balsamiq Sans', cursive ;
    padding: 0 20px 0 20px;
    font-size: 30px;
    font-weight: 100;
    
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 100%;
 }
 
 button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .i{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
 }
img{
    border-radius: 100%;
    width: 50px;
    float: left;
    padding-right: 20px;
}

h1
{
    color: white;
}
@media only screen and (min-width: 600px)
{
    .design{
        width: 25%;
        left: 20%;
    }
}